# Environment
ENV="development"

# Backend Server
BACKEND_HOST=""
BACKEND_PORT=":"
BACKEND_UPLOAD_API="/uploadreceipt"
BACKEND_MANUAL_EXPENSE_API="/manualexpense"
BACKEND_ANALYTICS_API="/useranalytics"
BACKEND_INSIGHTS_API="/userinsights"
BACKEND_LOGIN_API="/auth/login"
BACKEND_SIGNUP_API="/auth/signup"

# GenAI Server
GENAI_HOST=""
GENAI_PORT=":"
GENAI_UPLOAD_API="/uploadreceipt"
GENAI_GENERATE_SUMMARY_API="/generatesummary"
GENAI_GET_ANALYTICS_API="/getanalytics"

# Database
DATABASE_CONNECTION_STRING=""
BUCKET_ENDPOINT_STRING=""

# Security
ENCRYPTION_SECRET_KEY=""

# OCR (Mindee)
OCR_API_KEY=""
OCR_MODEL_ID=""

# LLM - Gemini
GEMINI_API_KEY=""
GEMINI_MODEL=""

# LLM - Groq
GROQ_API_KEY=""
GROQ_MODEL=""
